Xcursor.theme:Catppuccin-purple
Xcursor.size:32

Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter

XTerm.vt100.faceName: Terminus:size=1r24:antialias=true
XTerm.vt100.font: 7x13
XTerm.vt100.saveLines: 4096
XTerm.vt100.selectToClipboard: true
XTerm.vt100.scrollBar: false

*background: #1E1E2E


